{% extends 'base.html.twig' %}

{% block title %}Edit Investment{% endblock %}

{% block body %}
    <h1>Edit Investment</h1>

    {{ include('investment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('investment_index') }}">back to list</a>

    {{ include('investment/_delete_form.html.twig') }}
{% endblock %}
